/* h1 {
     color: red;
 }
 
 h1:hover {
     color: blue;
     transition: 1s color, 10s font-family;
     font-family: 'Franklin Gothic Medium';
 }
 
 .image {
     opacity: 0.1;
     height: 100px;
     width: 100px;
     transition: all 1s;
     border-radius: 10px;
     transition-property: height width;
 }
 
 .image:hover {
     /* height: 120px;
     width: 120px; */


/* transition: opacity 1s; */


/* opacity: 1;
 transition: 4s border-radius,
 4s opacity;
 border-radius: 100px; */


/* transition-property: height width; */


/* } */


/* */

#top-container {
    background-color: #0bc770;
    min-height: 800px;
    margin: auto;
    padding: 230px 0;
}

#block {
    display: block;
    width: 100%;
    height: 360px;
    margin: 0 auto;
    background: #fff url(../banner1.jpg) 40px;
    background-position: center;
    background-size: contain;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

#block1 {
    /* display: block; */
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background: #fff url(../banner1.jpg) 40px;
    background-position: center;
    background-size: contain;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

.animated {
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
        height: 340px;
    }
    50% {
        opacity: 0;
        background: #fff url(../banner2.jpg) 40px;
        background-position: center;
        background-size: contain;
        opacity: 1;
    }
    100% {
        opacity: 0;
        background: #fff url(../banner3.jpg) 40px;
        background-position: center;
        background-size: contain;
        opacity: 1;
    }
    /* 60% {
        opacity: 0;
        background: #fff url(../png_79.png) 40px;
        background-position: center;
        background-size: contain;
        opacity: 1;
    }
    80% {
        opacity: 0;
        background: #fff url(../image_gallery.jpg) 40px;
        background-position: center;
        background-size: contain;
        opacity: 1;
    }
    100% {
        opacity: 0;
        background: #fff url(../png_79.png) 40px;
        background-position: center;
        background-size: contain;
        opacity: 1;
    } */
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        /* display: block; */
    }
    to {
        opacity: 1;
        /* display: none; */
    }
}